 *{
          box-sizing: 0;
          border-radius: 0;
          font-family: 'Oswald', sans-serif;
          margin: 0;
          padding: 0;
          font-size: 22;
}
p{
    display: inline;
}

a{
    all: unset;
    color: rgb(248, 100, 15);
    cursor: pointer;
}


.div_background{
    background-image: url("./achtergrond.jpg");
    width: 100%;
    height: 300px;
    border-bottom: solid 6px #ff6400;
}
.div_container_footer{
    position: sticky;
    width: 100%;
    height: 68px;
    background: black;
 
  
}

.div_container_footer_list{
    display: flex;
    justify-content: center;
    

}

.div_container_footer_list li{
    margin-top: 10px;
    margin-left: 30px;
}


main{
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 30px ;
}

.div_container_main_h1{
    font-size: 80;
    align-self: flex-start;

}

.div_container_main_text{
    display: flex;
    flex-flow: column;
    gap: 40px; 
}
.div_container_main_text p{
    font-size: 30;

}

.div_container_main_text2{
    display: flex;
   
}

.p2{
    display: inline;
    width: 800px;
    height:150px;
    align-self: flex-end;
    padding-left: 20px;
    font-size: 25;
}

.div_container_rutte{
    width: 250px;
    height: 300px;
    background-image: url(./Rutte.jpg);
    background-repeat: no-repeat;
    margin-top: 40px;
}
    


/*Standpunten page */

.div_container_standpunten{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    gap: 100;

}

/*tweede kamer page*/



.div_container_tweedekamer{
    width: 100%;
    display: flex;
    justify-content: center;
}



















